@import "../variables.scss";

.app {
    transition: $transitionSlow all linear;
    background: url(../img/black-felt.png) transparent;
    min-height: 100%;

    header {
        background: $colorDarkest;
        color: $colorLightest;
        font-family: $fontAccent;
        font-size: $fontSizeSmall;
        padding: $spacingMedium $spacingSmall;
        height: $headerHeight;
        position: fixed;
        width: 100%;
        z-index: 20;

        h1 {
            font-size: 1rem;
        }

        .col {
            padding: 0;
        }

        .search-icon-container {
            flex: 0 0 $iconSizeSmall;
            padding-right: $spacingSmall
        }

        .search-icon {
            width: $iconSizeSmall;
            cursor: pointer;
        }
    }

    .skills-container {
        padding: $spacingSmall;
        background: $colorLightest;
        flex: 0 0 $iconPanelWidth;
        min-height: 100vh;
        z-index: 2;
    }

    .skills-container-content {
        position: fixed;
        padding-top: $headerHeight + $navHeight + $spacingSmall;
        top: 0;
        width: $iconPanelWidth;
    }

    .items-container {
        padding-top: $headerHeight + $navHeight;
        flex-grow: 1;
    }
}
