@import "../variables.scss";

.item {
    margin: $spacingLarge 0;
    position: relative;
    max-width: 700px;
    transition: $transitionSlow linear all;
    // border-left: $highlightSize solid transparent;
    
    &:before {
        content: "";
        width: 0; 
        height: 0; 
        border-top: $spacingLarge*2 solid transparent;
        border-bottom: $spacingLarge*2 solid transparent; 
        border-left: $spacingLarge solid $colorLightest; 
        position: absolute;
        left: -15px;
        top: 50%;
        margin-top: -$spacingLarge/2;

        opacity: 0;
        transition: $transitionSlow all linear;
    }

    &.active {
        border-color: $colorHighlight;
        box-shadow: 0 0 $highlightSize*2 $highlightSize rgba($colorHighlight, .5);

        &:before {
            opacity: 1;
        }
    }

    .item-name {
        font-family: $fontPrimary;
        font-size: $fontSizeLarge;
        color: $colorLightest;
        margin: 0;
        padding: $spacingMedium $spacingSmall;
        background: $colorDarker;
        text-transform: lowercase;
    }

    .item-summary {
        font-size: $fontSizeLarge;
        background: $colorNeutral;
        margin: 0;
        padding: $spacingSmall;
        color: $colorLightest;
        text-transform: lowercase;
    }

    .item-description {
        background: $colorLightest;
        padding: $spacingSmall;
        font-size: $fontSizeSmall;
    }

    .item-thumbnail {
        width: 100%;
        border: $spacingSmall solid $colorLightest;
    }

    .item-buttons {
        text-align: center;
        background: $colorNeutral;
        padding: 0;
        margin: 0;
    }

    .btn {
        text-transform: lowercase;
        position: relative;
        color: $colorLightest;
        font-size: $fontSizeSmall;
        padding-left: $sizeButtonIcon * 2;

        &:hover {
            color: $colorAccent;
        }

        &:before {
            content: "";
            width: $sizeButtonIcon;
            height: $sizeButtonIcon;
            background: #000;
            position: absolute;
            top: 50%;
            margin-top: -$sizeButtonIcon/2;
            left: 0;
            border: 1px solid $colorDarkest;
        }

        &:after {
            content: "";
            width: $sizeButtonIcon;
            height: 3px;
            background: #fff;
            position: absolute;
            top: 50%;
            margin-top: -1px;
            left: $sizeButtonIcon/2;
            border: 1px solid $colorDarkest;
        }
    }

    .btn-code {
        &:hover {
            color: $colorCode;

            &:before {
                background: $colorDarkest;
            }
        }

        &:before {
            background: $colorCode;
        }
    }

    .btn-live {
        &:hover {
            color: $colorLive;

            &:before {
                background: $colorDarkest;
            }
        }

        &:before {
            background: $colorLive;
        }
    }
}

