@import "../variables.scss";

.job {
    margin: $spacingLarge 0;
    position: relative;
    max-width: 700px;
    transition: $transitionSlow linear all;
    // border-left: $highlightSize solid transparent;
    
    &:before {
        content: "";
        width: 0; 
        height: 0; 
        border-top: $spacingLarge*2 solid transparent;
        border-bottom: $spacingLarge*2 solid transparent; 
        border-left: $spacingLarge solid $colorLightest; 
        position: absolute;
        left: -15px;
        top: 50%;
        margin-top: -$spacingLarge/2;

        opacity: 0;
        transition: $transitionSlow all linear;
    }

    &.active {
        border-color: $colorHighlight;
        box-shadow: 0 0 $highlightSize*2 $highlightSize rgba($colorHighlight, .5);

        &:before {
            opacity: 1;
        }
    }

    .job-info {
        margin: 0;
    }

    .job-dates,
    .job-company-name,
    .job-title {
        font-family: $fontPrimary;
        font-size: $fontSizeLarge;
        color: $colorLightest;
        margin: 0;
        padding: $spacingMedium $spacingSmall;
        background: $colorNeutral;
        text-transform: lowercase;
    }

    .job-title {
        text-transform: lowercase;
        background: $colorDarker;
    }

    .job-description {
        background: $colorLightest;
        padding: $spacingSmall;
        font-size: $fontSizeSmall;
    }

    .job-thumbnail {
        padding: $spacingMedium;
        background: $colorLightest;
        text-align: center;

        img {
            max-width: 100%;
        }
    }
}

