@import "../variables.scss";

nav {
    position: fixed;
    top: $headerHeight;
    height: $navHeight;
    background: $colorDarker;
    text-align: center;
    z-index: 4;
    width: 100%;
    padding: 0;
    margin: 0;

    .nav-item {
        font-size: $fontSizeSmall;
        color: $colorLightest;
        border: none;
        background: $colorDarker;
        padding: 0;
        height: $navHeight;
        position: relative;
        padding: 0 $spacingLarge;
        margin: 0;
        outline: none;
        border-radius: 0;

        &:focus,
        &:hover {
            color: $colorAccent;
        }

        &:before {
            content: "";
            display: none;
            width: 0;
            height: 0;
            position: absolute;
            top: $navHeight;
            left: 50%;
            margin-left: -$spacingSmall;
            border-top: $spacingSmall solid $colorDarker;
            border-right: $spacingSmall*2 solid transparent; 
            border-left: $spacingSmall*2 solid transparent; 
        }

        &:focus {
            outline: none;
            box-shadow: none;
        }

        &.active {
            background: $colorDarker;
            text-shadow: 0 0 $spacingMedium $colorAccent, 0 0 $spacingMedium $colorAccent, 0 0 $spacingMedium $colorAccent;
            color: $colorAccent;

            &:focus,
            &:hover {
                color: $colorLightest;
            }

            &:before {
                display: block;
            }
        }
    }
}