@import "../variables.scss";

.search-menu {
    transition: $transitionSlow all linear;
    position: fixed;
    top: 0;
    z-index: 10;
    background: $colorDarkest;
    padding: 5px;
    right: 0;
    text-align: right;

    &.open {
        top: $headerHeight;
    }

    input {
        font-size: $fontSizeSmall;
    }
}