@import "../variables.scss";

.skill {
    display: inline-block;
    position: relative;
    width: $iconSizeSmall;
    margin: 0 $spacingSmall;

    .skill-tooltip {
        font-size: $fontSizeSmall;
        position: absolute;
        top: -$spacingSmall/2;
        left: $iconSizeSmall + $spacingSmall;
        background: $colorDarkest;
        padding: $spacingSmall;
        color: $colorLightest;
        text-align: center;
        display: none;
        word-wrap: none;
        white-space: nowrap;

        &:before {
            content: "";
            width: 0; 
            height: 0; 
            border-top: $spacingSmall solid transparent;
            border-bottom: $spacingSmall solid transparent; 
            border-right: $spacingSmall solid $colorDarkest; 
            position: absolute;
            left: -$spacingSmall;
            top: 50%;
            margin-top: -$spacingSmall/2;
        }
    }

    &:hover {
        z-index: 998;
        
        .skill-tooltip {
            display: block;
            z-index: 999;
        }

        .skill-icon {
            transform: scale(2);
            opacity: 1;
        }
    }

    &.active {
        .skill-icon {
            opacity: 1;
            box-shadow: 0 0 $spacingLarge $colorAccent;
            background: rgba($colorAccent, .3);
        }
    }
    
    .skill-icon {
        width: 100%;
        opacity: .25;
    }
}