$colorLightest: #f7f7f7;
$colorDarkest: #1f1f1f;
$colorDarker: #333;
$colorAccent: #fc0;
$colorNeutral: #707070;
$colorCode: #ff61b3;
$colorLive: #cfff00;
$colorHighlight: #333;

$fontAccent: "retro-computer";
$fontPrimary: "solid-mono";

$spacingSmall: 5px;
$spacingMedium: 10px;
$spacingLarge: 20px;

$fontSizeExtraSmall: .6rem;
$fontSizeSmall: .8rem;
$fontSizeLarge: .8rem;

$iconSizeSmall: 22px;

$sizeButtonIcon: 10px;

$numIconCols: 3;

$iconPanelWidth: ($iconSizeSmall * $numIconCols) + ($spacingSmall * 2 * $numIconCols) + ($spacingSmall * 2);
$headerHeight: 40px;
$navHeight: 30px;
$highlightSize: 5px;

$transitionSlow: .4s;